<h2>TABLA DE USUARIOS LOL</h2>
<table>
    <tr>
        <th>Usuario</th>
        <th>Nombre</th>
    </tr>   
    
    {{#each usuario}}
    <tr> 
        <td>{{this.nom_usuario}}</td>
        <td>{{this.nomcompleto}}</td>
    </tr>
    {{/each}}
    
</table>