<center><h1>Administrador</h1></center>
<main>
    <div id="elegirpalabra" method="POST">
        <h3>Elegir una palabra</h3>
        <div id="seleccion">
            <select name="select">
                <option value="value1" selected> Elegir Palabra</option>
                <option value="value2"> </option>
            </select>
        </div>
        
        
        <br>
        <br>

        <div>
            <div class="mb-3 form-group">
            <input type="text" class="form-control" id="nuevaPalabra" name="agregarPalabra" value="" placeholder="Ingrese la palabra">
            <input type="submit" class="btn btn-primary" id = "botonAgregar" value="Agregar" onclick="agregar()">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" id = "botonEliminar" value="Eliminar" onclick="borrar()">
        </div>
        <br>
        <br>
        <div>
        </div>
    </div>
    <script>
        mostrar();
    </script>
</main>
