<center><h1>Administrador</h1></center>
<main>
    <div id="elegirpalabra" method="POST">
        <h3>Elegir una palabra</h3>
        <div id="seleccion">
            <select name="select">
                <option value="value1" selected> Elegir Palabra</option>
                <option value="value2"> </option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" id = "botonBuscar" value="Buscar" onclick="mostrar">
        
        <br>
        <br>

        <div>
            <input type="submit" class="btn btn-primary" id = "botonModificar" value="Modificar">
            <input type="submit" class="btn btn-primary" id = "botonEliminar" value="Eliminar">
        </div>
        <br>
        <br>
        <div>
        </div>
    </div>
    
</main>
