<center><img src="img/ods.gif" id="imageODS"></center>
<center><h1>Bienvenido al WordlODS</h1></center>
<br>
<main>
    <center>
        <div id="palb1">
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt5" class="TXT"s name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div id="palb2">
            <input  type="text" id="txt6" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt7" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt8" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt9" class="TXT" name="TXT4" style="text-transform:uppercase;"  maxlength="1">    
            <input  type="text" id="txt10" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div id="palb3">
            <input  type="text" id="txt11" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt12" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt13" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt14" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt15" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div id="palb4">
            <input  type="text" id="txt16" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt17" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt18" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt19" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text"  id="txt20" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div id="palb5">
            <input  type="text" id="txt21" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt22" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt23" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt24" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text"  id="txt25" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
    </center>
    <br>
    <div class="mb-3 form-check" id="Comprobar">
        <center><input type="submit" class="btn btn-primary" id = "botonComprobar" value="Comprobar" onclick=" comprobar()" data-toggle="modal" data-target="#exampleModalLong"></center>
    </div>
        <div class="mb-3 form-check">
            <center><input type="submit" class="btn btn-primary" value="Volver a Jugar" onclick="volverJugar()"></center>
        </div>
</main>
<br>
<footer id="footer2">
    <h6>Colegio Pio IX</h6>
    <p>Primer proyecto Interdisciplinario - Grupo 3 - Amiano, Basile, Feroce, Rosenthal, Pico</p>
</footer>
<script>
    palabra_elegida()
    console.log(palabraalea)
</script>