<center><img src="img/ods.gif" id="imageODS"></center>
<center><h1>Bienvenido al WordlODS</h1></center>
<br>
<main>
    <center>
        <div>
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt5" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div>
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;"  maxlength="1">    
            <input  type="text" id="txt5" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div>
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt5" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div>
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text"  id="txt5" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
        <br>
        <div>
            <input  type="text" id="txt1" class="TXT" name="TXT1" style="text-transform:uppercase;" maxlength="1">
            <input  type="text" id="txt2" class="TXT" name="TXT2" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt3" class="TXT" name="TXT3" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text" id="txt4" class="TXT" name="TXT4" style="text-transform:uppercase;" maxlength="1">    
            <input  type="text"  id="txt5" class="TXT" name="TXT5" style="text-transform:uppercase;" maxlength="1">
        </div>
    </center>
    <br>
    <div class="mb-3 form-check">
        <center><input type="submit" class="btn btn-primary" id = "botonComprobar" value="Comprobar" onclick="comprobar()"></center>
    </div>
</main>
<br>
<footer id="footer">
    <center>Trabajo hecho por Amiano-Basile-Pico-Feroce-Rosenthal</center>
</footer>