<body id="bodyLogueo">
    <form action="/login" method="POST" id = "loguearse" class="container-sm">
        <div class="mb-3 form-group">
            <h2 id="Login">Login</h2>
        </div>
        <div class="mb-3 form-group">
            <label for="usuarioId" class="form-label" id = "cartelUsuario">Usuario</label>
            <input type="text" class="form-control" id="usuarioId" name="nom_usuario" value="" placeholder="Ingrese un nombre de usuario">
        </div>
        <div class="mb-3 form-group">
        <label for="passwordId" class="form-label" id = "cartelContraseña">Contraseña</label>
            <input type="password" class="form-control" id="passwordId" name="contraseña" value="" placeholder="Contraseña">
        </div>
        <div class="mb-3 form-check">
            <input type="button" class="btn btn-primary" id="botonLogin" value="INGRESAR" onclick="login();">
        </div>
    </form>
<form action="/registrarse" method="GET" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" id="botonRegistro" value="REGISTRO">
    </div>
</form>
<main>
    <center>
        <div>
                <div class="card border-primary mb-5" style="width: 28rem; float:center; display:block ">
                    <img class="card-img-top" src="https://mensajerosdelapaz.com/wp-content/uploads/2021/06/objeticos-ods.png" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text" align="justify">Los Objetivos de Desarrollo Sostenible (ODS), fueron adoptados por las Naciones Unidas en 2015. Los 17 ODS ayudarana al desarrollo para equilibrar la sostenibilidad social, económica y ambiental. Los ODS están diseñados para acabar con la pobreza, el hambre, el sida y la discriminación contra mujeres y niñas.</p>
                    </div>
                    </div>  
                </div>
        </div> 
    </center>
</main>
<form action="/Admin" method="POST" id = "administrador" class="container-sm">

</form>
</body>
<footer id="footer2">
    <h6>Colegio Pio IX</h6>
    <p>Primer proyecto Interdisciplinario - Grupo 3 - Amiano, Basile, Feroce, Rosenthal, Pico</p>
</footer>

