<body id="registro">
    <div class="mb-3 form-group">
        <h2 id="titleRegistrar">Registrarse</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="mailId" class="form-label" id = "cartelMail">Ingrese su mail</label>
        <input type="text" class="form-control" id="mailId" name="mail" placeholder="Ingrese su mail">
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label" id = "cartelUser">Ingrese el usuario</label>
        <input type="text" class="form-control" id="usuarioId" name="nom_usuario" value="" placeholder="Ingrese un nombre de usuario">
    </div>
    <div class="mb-3 form-group">
        <label for="passwordId" class="form-label" id = "cartelContra">Ingrese la contraseña</label>
        <input type="password" class="form-control" id="passwordId" name="contraseña" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" id = "botonTerminarRegistro" value="Registrarse" onclick="nuevoUsuario()">
    </div>
</body>
<footer id="footer1">
    <h6>Colegio Pio IX</h6>
    <p>Primer proyecto Interdisciplinario - Grupo 3 - Amiano, Basile, Feroce, Rosenthal, Pico</p>
</footer>