.header {
    width: 100%;
    height: 56px;
    background-color: #161616;
    color: white;
    text-align: center;
}

.body {
    background-color: black;
}

#cartelUsuario {
    color: white;
}

#cartelContraseña {
    color: white;
}

#botonLogin {
    background-color: #808080; 
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#registro {
    background-color: #252525;
}

#cartelMail {
    color: white;
}

#cartelUser {
    color: white;
}

#cartelContra {
    color: white;
}

#botonRegistro {
    background-color: #808080; 
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#botonTerminarRegistro {
    background-color: #808080; 
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#mensaje{
    color: white;
}
#titleRegistrar{
    color: white;
}

#botonLogin:hover {
    box-shadow: 10px 10px 0px rgba(255, 104, 255, 0);
    top: -5px;
    left: -5px;
}

#bodyLogueo {
    background-color: #252525;
}

#Login {
    color: white;
}
.TXT {
    background-color: #252525;
    color: white;
    border-radius: 2px;
    padding: 20px 5px;
    width: 85px;
    height: 45px;
    text-size-adjust: auto;
    font-size: 50px;
    text-align: center;
}
#imageODS{
    width: 30%;
    height: 30%;
    align-items: center;
}
#footer{
    background-color: #161616;
    color: white;
}
#botonComprobar {
    background-color: #04B6F0; 
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#elegirpalabra {
    text-align: justify;
    display: block;
    padding: 14px 32px;

}